.ReviewListItem {
  display: flex;
  align-items: center;
}

.ReviewListItem-img {
  width: 182px;
  height: 262px;
  margin-right: 20px;
  border-radius: 0 15px 0 15px;
  object-fit: cover;
}

.ReviewListItem-rows {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 22px 0 18px;
  overflow: hidden;
}
